<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="inicio">
      <img src="assets/img/Logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" href="inicio">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../carta">CARTA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">KING DABIZ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NOVEDADES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MY BURGER KING</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">BURGER KING</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">RESTAURANTE</a></li>
            <li><a class="dropdown-item" href="#">VEGETARIANO</a></li>
            <li><a class="dropdown-item" href="#">BK PARA NIÑOS</a></li>
            <li><a class="dropdown-item" href="#">CATERING</a></li>
            <li><a class="dropdown-item" href="#">CONTACTO</a></li>
            <li><a class="dropdown-item" href="#">PLAN DE SOSTENIBILIDAD</a></li>
            <li><a class="dropdown-item" href="#">TRABAJA CON NOSOTROS</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <button><a href="../login">INICIAR SESIÓN</a></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
