<footer class="footer">
    <div class="footer-container">
        <!-- Enlaces principales -->
        <section class="footer-links">
            <div class="footer-links__container">
                <span id="footer_faq-title" class="footer-link" tabindex="0">PREGUNTAS FRECUENTES</span>
                <span id="footer_opinion-suggestions" class="footer-link" tabindex="0">OPINIONES Y SUGERENCIAS</span>
                <span id="footer_legal-warning" class="footer-link" tabindex="0">AVISO LEGAL</span>
                <span id="footer_terms-conditions" class="footer-link" tabindex="0">CONDICIONES GENERALES</span>
                <span id="footer_privacy-policy" class="footer-link" tabindex="0">POLÍTICAS DE PROVINCIAS</span>
                <span id="footer_cookie-settings" class="footer-link" tabindex="0">CONFIGURACIÓN COOKIES</span>
            </div>
        </section>

    </div>

    <section class="footer-dropdown">
        <div class="dropdown-header">
            <span>En nuestra web ▼</span>
        </div>
        <div class="dropdown-content">
            <ul>
                <li>Productos</li>
                <li>My Burger King</li>
                <li>Calidad</li>
                <li>Sobre nosotros</li>
                <li>Identifícate</li>
            </ul>
        </div>
    </section>

    <!-- Contacto -->
    <div class="footer-bottom">
        <div class="contact">
            <p><i class="phone-icon"><img src="../../assets/img/telefono.png" alt="Phone"> </i> También puedes pedir por teléfono: <strong>91 1933933</strong></p>
        </div>
        <div class="rights">
            <p>TM & 2024 Burger King Corporation. Todos los derechos reservados</p>
        </div>
        <div class="social-media">
            <a href="#"><i class="social-icon twitter"></i> <img src="../../assets/img/twitter.png" alt="Twitter"></a>
            <a href="#"><i class="social-icon instagram"></i><img src="../../assets/img/instagram.png" alt="Instagram"> </a>
            <a href="#"><i class="social-icon youtube"></i> <img src="../../assets/img/youtube.png" alt="YouTube"></a>
            <a href="#"><i class="social-icon facebook"></i> <img src="../../assets/img/facebook.png" alt="Facebook"></a>
        </div>
    </div>
</footer>