.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-container .slider > div {
  flex: 1 0 33.33%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
}

.slider-container .slider > div .imagen {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container .slider > div .imagen img {
  width: 90%;
  height: 70%;
  object-fit: contain;
  border-radius: 8px;
}

.slider-container .slider > div h2 {
  font-family: "FlameRegular";
  font-weight: bold;
  margin: 15px 0;
  font-size: 24px;
}

.slider-container .slider > div h2.titulobeige {
  color: #F5EBDC;
}

.slider-container .slider > div h2.titulodark {
  color: #502134;
}

.slider-container .slider > div button {
  font-family: "FlameSans";
  border: none;
  padding: 15px 25px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12%;
  width: 50%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-self: center;
}

.slider-container .slider > div .botonclaro {
  background-color: #F5EBDC;
  color: #502134;
}

.slider-container .slider > div .botonoscuro {
  background-color: #502134;
  color: #F5EBDC;
}

.slider-container .slider .slide1 {
  background-color: #502314;
}

.slider-container .slider .slide2 {
  background-color: #D62300;
}

.slider-container .slider .slide3 {
  background-color: #fa0;
}
