$bg-color: #F5EBDC;
$primary-color: #000000;
$cta-bg-color: #D62300;
$cta-text-color: #FFFFFF;
$text-color: #502134;

// Slider container
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;

    // General styles for all slides
    > div {
      flex: 1 0 33.33%; // Cada slide ocupa 1/3 del ancho
      text-align: center;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; // Ajustado para que el contenido empuje hacia arriba
      align-items: center;
      height: 70vh; // Ajuste del alto general para una vista completa

      .imagen {
        width: 70%; // Imagen ocupa el 80% del contenedor
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          height: 70%;
          object-fit: contain;
          border-radius: 8px;
        }
      }

      h2 {
        font-family: "FlameRegular";
        font-weight: bold;
        margin: 15px 0; // Añadido margen debajo de la imagen
        font-size: 24px;

        &.titulobeige {
          color: $bg-color;
        }

        &.titulodark {
          color: $text-color;
        }
      }

      button {
        font-family: "FlameSans";
        border: none;
        padding: 15px 25px;
        border-radius: 12px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 12%;
        width: 50%;
        height: auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        align-self: center; // Alinea el botón al centro horizontalmente
      }

      .botonclaro{
        background-color: $bg-color;
        color: $text-color;
      }

      .botonoscuro{
        background-color: $text-color;
        color: $bg-color;
      }
    }

    // Estilos específicos para cada slide
    .slide1 {
      background-color: #502314;
    }

    .slide2 {
      background-color: $cta-bg-color;
    }

    .slide3 {
      background-color: #fa0;
    }
  }
}
