
<div class="slider-container">
  <div class="slider">
    <!-- Pestaña 1 -->
    <div class="slide1">
      <div class="imagen">
        <img src="../../assets/img/MenuWhopper.png" alt="Imagen 1" />
      </div>
      <h2>Menú Whopper</h2>
      <button>PIDE AHORA</button>
    </div>
    <!-- Pestaña 2 -->
    <div class="slide2">
      <div class="imagen">
        <img src="../../assets/img/cubo.png" alt="Imagen 2" />
      </div>
      <h2>Cubo King Aros</h2>
      <button>PIDE AHORA</button>
    </div>
    <!-- Pestaña 3 -->
    <div class="slide3">
      <div class="imagen">
        <img src="../../assets/img/kingJR.png" alt="Imagen 3" />
      </div>
      <h2>King Jr</h2>
      <button>PIDE AHORA</button>
    </div>
  </div>
</div>
