
<div class="slider-container">
  <div class="slider">
    <!-- Pestaña 1 -->
    <div class="slide1">
      <div class="imagen">
        <img src="../../assets/img/carta/whopper2.png" alt="Imagen 1" />
      </div>
      <h2 class="titulobeige">Menú Whopper</h2>
      <button  routerLink="/carta" class="botonclaro">PIDE AHORA</button>
    </div>
    <!-- Pestaña 2 -->
    <div class="slide2">
      <div class="imagen">
        <img src="../../assets/img/productos/Cubo.png" alt="Imagen 2" />
      </div>
      <h2 class="titulobeige">Cubo King Aros</h2>
      <button routerLink="/carta" class="botonclaro">PIDE AHORA</button>
    </div>
    <!-- Pestaña 3 -->
    <div class="slide3">
      <div class="imagen">
        <img src="../../assets/img/carta/KingJR2.png" alt="Imagen 3" />
      </div>
      <h2 class="titulodark">King Jr</h2>
      <button routerLink="/carta" class="botonoscuro">PIDE AHORA</button>
    </div>
  </div>
</div>
