

<div class="login-container">
  <div class="login-image">
    <img src="../../assets/img/BG_Burguer_web_cocina.jpg" alt="Login image">
  </div>
  <div class="login-form">
    <h2>Accede a tu cuenta</h2>
    <div class="social-login">
      <button class="google-btn">
        <img src="../../assets/img/googleIcon.png" alt="Google">
        Iniciar sesión con Google
      </button>
      <button class="facebook-btn">
        <img src="../../assets/img/facebookIcon.png" alt="Facebook">
        Iniciar sesión con Facebook
      </button>
      <button class="apple-btn">
        <img src="../../assets/img/appleIcon.png" alt="Apple">
        Iniciar sesión con Apple
      </button>
    </div>
    <div class="email-login">
      <input type="email" placeholder="Correo">
      <input type="password" placeholder="Contraseña">
      <button>ACCEDER</button>
      <a href="#">Recuperar o generar contraseña</a>
      <br>
      <a href="#">Volver a enviar email de validación</a>
    </div>
  </div>
</div>

