.menu-container {
  margin-top: 150px;
  padding: 20px;
}

.menu-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.menu-container .categorias {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 20px auto;
  padding: 10px 0;
}

.menu-container .categorias ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}

.menu-container .categorias ul li {
  margin-right: 2%;
  cursor: pointer;
  text-align: center;
  flex: 1;
}

.menu-container .categorias ul li:hover {
  border-bottom: #502134;
}

.menu-container .categorias ul li.selected {
  border-bottom: 3px solid #502134;
}

.menu-container .categorias ul li img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-container .categorias ul li p {
  margin-top: 8px;
  font-weight: bold;
  color: #333;
}

.menu-container .productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu-container .productos .producto {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-container .productos .producto:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.menu-container .productos .producto h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.menu-container .productos .producto p {
  color: #555;
}

.menu-container .productos .producto .precio {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.menu-container .productos p {
  text-align: center;
  color: #888;
  font-size: 16px;
}
