/* Variables */
$primary-color: #f5ebdc;
$secondary-color: #502134;

.menu-container {
  margin-top: 50px; /* Colocar las categorías justo debajo de nav */
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%; /* Aseguramos que ocupe todo el ancho disponible */

  h1 {
    font-size: 4em;
    font-family: "FlameBold", sans-serif;
    font-weight: bold;
    color: $secondary-color;
    margin-bottom: 20px;
    text-align: center;
  }

  /* Categorías */
  .categorias {
    display: flex; /* Esto asegura que los items estén en fila */
    justify-content: start; /* Alineamos las categorías a la izquierda */
    align-items: center; /* Alineamos las categorías verticalmente en el centro */
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid $secondary-color;
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */

    /* Para ocultar la barra de desplazamiento */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari y Opera */
    }

    .categoria-item {
      flex: 0 0 auto; /* Evita que los elementos se estiren */
      text-align: center;
      border: 2px solid $secondary-color;
      border-radius: 10px;
      padding: 5px;
      font-family: "FlameSans", sans-serif;
      font-size: 12px;
      font-weight: bold;
      color: $secondary-color;
      background-color: $primary-color;
      transition: all 0.3s ease;
      width: 120px; /* Ajuste de ancho para las categorías */

      /* Imagen más pequeña */
      img {
        width: 50%; /* Tamaño de las imágenes ajustado */
        height: 50%;
        object-fit: cover;
        margin-bottom: 5px;
        border-radius: 50%;
        border: 2px solid $secondary-color;
        transition: transform 0.3s ease;
      }

      &:hover,
      &.selected {
        background-color: $secondary-color;
        color: #fff;
        border-color: #fff;
      }

      p {
        margin-top: 5px;
        font-size: 10px; /* Texto más pequeño */
        text-transform: capitalize;
      }
    }
  }

  /* Productos */
  .productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .producto {
      border-radius: 8px;
      overflow: hidden;
      background-color: $primary-color;
      padding: 15px;
      text-align: center;
      transition: transform 0.3s ease;

      h4 {
        font-family: "FlameBold", sans-serif;
        font-size: 1.5em;
        color: $secondary-color;
        margin-bottom: 10px;
      }

      p {
        font-family: "FlameSans", sans-serif;
        font-size: 1em;
        color: $secondary-color;
        margin: 5px 0;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .menu-container {
    width: 90%;
  }

  .productos {
    grid-template-columns: 1fr;
  }
}
