@charset "UTF-8";
/* Variables */
.menu-container {
  margin-top: 50px;
  /* Colocar las categorías justo debajo de nav */
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  /* Aseguramos que ocupe todo el ancho disponible */
  /* Categorías */
  /* Productos */
}

.menu-container h1 {
  font-size: 4em;
  font-family: "FlameBold", sans-serif;
  font-weight: bold;
  color: #502134;
  margin-bottom: 20px;
  text-align: center;
}

.menu-container .categorias {
  display: flex;
  /* Esto asegura que los items estén en fila */
  justify-content: start;
  /* Alineamos las categorías a la izquierda */
  align-items: center;
  /* Alineamos las categorías verticalmente en el centro */
  gap: 10px;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #502134;
  overflow-x: auto;
  /* Permite el desplazamiento horizontal si es necesario */
  /* Para ocultar la barra de desplazamiento */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
}

.menu-container .categorias::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

.menu-container .categorias .categoria-item {
  flex: 0 0 auto;
  /* Evita que los elementos se estiren */
  text-align: center;
  border: 2px solid #502134;
  border-radius: 10px;
  padding: 5px;
  font-family: "FlameSans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #502134;
  background-color: #f5ebdc;
  transition: all 0.3s ease;
  width: 120px;
  /* Ajuste de ancho para las categorías */
  /* Imagen más pequeña */
}

.menu-container .categorias .categoria-item img {
  width: 50%;
  /* Tamaño de las imágenes ajustado */
  height: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 2px solid #502134;
  transition: transform 0.3s ease;
}

.menu-container .categorias .categoria-item:hover, .menu-container .categorias .categoria-item.selected {
  background-color: #502134;
  color: #fff;
  border-color: #fff;
}

.menu-container .categorias .categoria-item p {
  margin-top: 5px;
  font-size: 10px;
  /* Texto más pequeño */
  text-transform: capitalize;
}

.menu-container .productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.menu-container .productos .producto {
  border-radius: 8px;
  overflow: hidden;
  background-color: #f5ebdc;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.menu-container .productos .producto h4 {
  font-family: "FlameBold", sans-serif;
  font-size: 1.5em;
  color: #502134;
  margin-bottom: 10px;
}

.menu-container .productos .producto p {
  font-family: "FlameSans", sans-serif;
  font-size: 1em;
  color: #502134;
  margin: 5px 0;
}

.menu-container .productos .producto:hover {
  transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 768px) {
  .menu-container {
    width: 90%;
  }
  .productos {
    grid-template-columns: 1fr;
  }
}
