<div class="home-banner">
  <section class="home-banner__hero">
    <div class="home-banner__hero-container">
      <div class="home-banner__content-container container">
        <div class="home-banner__content">
          <div class="home-banner__title bk-title">¿QUÉ TE APETECE PEDIR HOY?</div>
          <button class="home-banner__cta bk-btn" routerLink="../carta">
            <span class="home-banner__cta-text">PIDE AHORA</span>
            <img alt="imagen moto" class="imgmoto" src="../../assets/img/scooter.png">
          </button>
        </div>
      </div>
    </div>
  </section>
  <div class="home-banner__hero-image-container">
    <img alt="imagen banner" class="home-banner__hero-image" src="../../assets/img/burguir.png">
  </div>
</div>
